*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bs-bg1: #404040;
    --bs-bg2: #1b1b1b; 
    --bs-bg3: #F9F9F9; 
    --bs-col1: #e83d47; 
    --bs-col2: rgba(232, 61, 71, 0.5); 
    --bs-font1: 'Cinzel', serif;
    --bs-font2: 'Josefin Sans', sans-serif;
}
.bg-bg1{
    background-color: var(--bs-bg1) !important;
}
.border-bg1{
    border-color: var(--bs-bg1) !important;
}
.text-bg1{
    color: var(--bs-bg1) !important;
}
.bg-col1{
    background-color: var(--bs-col1) !important;
}
.border-col1{
    border-color: var(--bs-col1) !important;
}
.text-col1{
    color: var(--bs-col1) !important;
}
.bg-bg2{
    background-color: var(--bs-bg2) !important;
}
.border-bg2{
    border-color: var(--bs-bg2) !important;
}
.bg-bg3{
    background-color: var(--bs-bg3) !important;
}
.font1{
    font-family: var(--bs-font1) !important;
}
.font2{
    font-family: var(--bs-font2) !important;
}
#header{
    opacity: 0.95;
}
.headerlist{
    border-bottom: 1px solid !important;
    border-top: 1px solid !important;
}
.headerlist:hover, #classes .card-body h3:hover, #classes .card-body a:hover{
    color: var(--bs-col1) !important;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    border: 2px solid var(--bs-col1) !important;
    color: var(--bs-col1) !important;
}
.dropdown-toggle::after{
    display: none !important;
}
@media only screen and (min-width: 768px){
    #header{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .headerlist{
        border-bottom: 0px solid !important;
        border-top: 0px solid !important;
    }
    .herosectionimg img{
        width: 100% !important;
    }
    .quotecontent{
        padding: 90px 0px 90px 0px !important;
    }
    .aboutinner{
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .servicesinner, .summerinner{
        padding: 80px 50px 80px 50px !important;
    }
    .touchform{
        padding: 80px 50px 80px 50px !important;
    }
    #enddetails{
        background-size: 200% !important;
    }
}

@media only screen and (min-width: 1024px){
    .herosectionimg img{
        width: 150% !important;
    }
    .herosectioncontents{
        margin-bottom: 130px;
    }
    .herosectioncontents p{
        font-size: 35px !important;
        margin-bottom: 100px;
    }
    .quotecontent{
        padding: 150px 0px 150px 0px !important;
        background-size: 150% !important;
    }
    .quotecontent h2{
        margin: 70px 0px 0px 0px !important;
    }
    .quotecontent button{
        margin: 0px 0px 70px 0px !important;
    }
    .aboutinner{
        padding: 90px 80px 90px 80px !important;
    }
    #counter{
        background-size: 140% !important;
    }
    .servicesinner{
        padding: 80px 80px 80px 80px !important;
    }
    .summerinner{
        padding: 45px 50px 15px 50px !important;
    }
    #summer{
        background-size: 175% !important;
    }
    #enddetails{
        background-size: 100% !important;
    }
    .enddetailsh2mod{
        margin-bottom: 33px !important;
    }
}
@media only screen and (min-width: 1360px){
    #header{
        padding-left: 250px !important;
        padding-right: 250px !important;
    }
    .herosectionimg img{
        width: 100% !important;
    }
    .quotecontent{
        background-size: 120% !important;
    }
    .aboutinner{
        padding: 90px 100px 90px 115px !important;
    }
    #consultation, #counter{
        padding-left: 220px !important;
        padding-right: 220px !important;
    }
    .summerinner{
        /* margin-left: 65px !important; */
        padding: 0px 0px 0px 250px !important;
    }
    #summer{
        background-size: 120% !important;
    }
    .questioncontent1, .sportcontent1{
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}
@media only screen and (min-width: 1440px){
    #header{
        padding-left: 150px !important;
        padding-right: 150px !important;
    }
    .herosectionimg img{
        width: 110% !important;
    }
    #counter{
        background-size: 100% !important;
    }
    .summerinner{
        padding: 0px 20px 0px 155px !important;
    }
    #summer{
        background-size: 110% !important;
    }
    .aboutinner{
        padding: 90px 100px 90px 130px !important;
    }
    #consultation, #counter{
        padding-left: 150px !important;
        padding-right: 150px !important;
    }
    
}

@media only screen and (min-width: 2560px){
    #header{
        padding-left: 720px !important;
        padding-right: 720px !important;
    }
    .herosectionimg img{
        width: 100% !important;
        margin-bottom: -500px !important;
    }
    .summerinner{
        margin-left: 65px !important;
        padding: 45px 50px 45px 650px !important;
    }
    #summer{
        background-size: 100% !important;
    }
    
    .questioncontent1, .sportcontent1{
        padding-left: 760px !important;
        padding-right: 760px !important;
    }
    .touchform{
        padding: 80px 50px 80px 250px !important;
    }
    .aboutinner{
        padding: 90px 100px 90px 245px !important;
    }
    #consultation, #counter{
        padding-left: 720px !important;
        padding-right: 720px !important;
    }
}


.herosectionimg img{
    width: 270%;
    filter: opacity(50%);
}
.herosectionview{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: var(--bs-col1) !important;
    opacity: 0 !important;
}
.carousel-indicators .active{
    opacity: 1 !important;
}
.quotecontent{
    padding: 30px 0px 30px 0px !important;
}
.quote1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1\ bg1.jpg) no-repeat;
    background-size: cover;
}
.quote2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/2\ bg1.jpg) no-repeat;
    background-size: cover;
}
.quote3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/3\ bg1.jpg) no-repeat;
    background-size: cover;
}
.quote1:hover{
    /* background: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)), url(../images/1\ bg1.jpg) no-repeat; */
    background: linear-gradient(var(--bs-col2), var(--bs-col2)), url(../images/1\ bg1.jpg) no-repeat;
    background-size: cover;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
.quote2:hover{
    background: linear-gradient(var(--bs-col2),var(--bs-col2)), url(../images/2\ bg1.jpg) no-repeat;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
.quote3:hover{
    background: linear-gradient(var(--bs-col2), var(--bs-col2)), url(../images/3\ bg1.jpg) no-repeat;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
.quotecontent:hover h2{
    color: white !important;
}
.quotecontent:hover button{
    border-color: white !important;
    background: transparent !important;
}
.aboutcontent{
    background: linear-gradient(var(--bs-col2), var(--bs-col2));
}
#about{
    background: url(../images/1-1\ bg1.jpg) no-repeat;
    background-size: cover;
}
#summer button:hover, .herosectionimg button:hover, #products .card-body button:hover{
    background: transparent !important;
    color: var(--bs-col1) !important;
}
#question button:hover, #sport button:hover, #touch button:hover, #bmicalc button:hover{
    background: transparent !important;
    color: white !important;
}
.aboutinner button:hover{
    background: transparent !important;
    color: white !important;
    border-color: white !important;
}
#caro1, #caro2, #caro3, #caro4, #caro5, #caro6{
    z-index: 0;
}
.classescost{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.classescost2{
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.classescost3{
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.classeseffect{
    width: 2px !important;
    height: 2px !important;
    background-color: var(--bs-col1) !important;
    opacity: 0 !important;
    transform: scale(1) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#classes .card:hover .classeseffect{
    opacity: 0.5 !important;
    transform: scale(200) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;

}
#consultation{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1-5.jpg) no-repeat;
    background-size: cover;
}
.servicescontent{
    background: linear-gradient(var(--bs-col2), var(--bs-col2));
}
#services{
    background: url(../images/1-2.jpg) no-repeat;
    background-size: cover;
}
#counter{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1-3\ bg11.jpg) no-repeat;
    background-size: cover;
}
.trainerseffect{
    background-color: var(--bs-col1) !important;
    opacity: 0 !important;
    width: 80% !important;
    height: 80% !important;
    left: 30px !important;
    bottom: 500px !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#trainers .card:hover .trainerseffect{
    opacity: 0.9 !important;
    left: 30px !important;
    bottom: 50px !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#summer{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/4\ bg1.jpg) no-repeat;
    background-size: cover;
}
#testimonials{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1-3\ bg22.jpg) no-repeat;
    background-size: cover;
}
/* #touch iframe{
    position: absolute;
    width: 100%;
} */
#touch iframe{
    width: 100% !important;
    height: 100% !important;
}
.touchform{
    opacity: 0.9;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* #enddetails::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.fa-instagram{
    margin-top: -2px;
    font-size: 27px;
}
#enddetails{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1-4.jpg) no-repeat;
    background-size: cover;
}
#themechanger{
    /* margin: 200px 0px 0px 0px; */
    border-radius: 0% 50% 50% 0%;
}
#themer{
    margin: 200px 0px 0px 0px;
    /* border-radius: 0% 50% 50% 0%; */
}
.themenu{
    display: none;
    border-radius: 0px 0px 5px 0px;
}
.fa-cog{
    transform: rotateZ(0deg);
    /* transition: 2s; */
    animation: gear 3s linear infinite;
}
@keyframes gear{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.galleryeffect{
    width: 2px !important;
    height: 2px !important;
    opacity: 0 !important;
    background-color: black !important;
    transform: scale(1) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#gallery .item:hover .galleryeffect{
    opacity: 0.8 !important;
    background-color: black !important;
    transform: scale(250) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
.galleryeffect2{
    width: 50px !important;
    height: 50px !important;
    opacity: 0 !important;
    background-color: var(--bs-col1) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#gallery .item:hover .galleryeffect2{
    opacity: 1 !important;
    background-color: var(--bs-col1) !important;
    transition: all 1s !important;
    transition-duration: 1s !important;
}
.galleryeffect2:hover i{
    color: #1b1b1b !important;
}




.productseffect, .upcomingeffect{
    width: 2px !important;
    height: 2px !important;
    opacity: 0 !important;
    background-color: var(--bs-col1) !important;
    transform: scale(1) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#products .productsimg:hover .productseffect, .upcomingimg:hover .upcomingeffect{
    opacity: 0.8 !important;
    background-color: var(--bs-col1) !important;
    transform: scale(250) !important;
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
.productseffect2 li{
    width: 40px !important;
    height: 40px !important;
    opacity: 0 !important;
    /* background-color: rgb(255, 0, 0) !important; */
    transition: all 0.5s !important;
    transition-duration: 0.5s !important;
}
#products .productsimg:hover .productseffect2 li{
    opacity: 1 !important;
    /* background-color: rgb(255, 0, 0) !important; */
    transition: all 1s !important;
    transition-duration: 1s !important;
}
.productseffect2 li:hover i, #products h3:hover, #upcoming h3:hover, #upcoming a:hover, .endetailsmsg2 i:hover, .enddetailspts a:hover{
    color: var(--bs-col1) !important;
}
.classescost{
    transform: translateX(0) !important;
    transition: all 0.2s !important;
    transition-duration: 0.2s !important;
}
#products .productsimg:hover .classescost{
    transform: translateX(100px) !important;
    transition: all 0.2s !important;
    transition-duration: 0.2s !important;
}
.endetailsmsg:hover{
    background-color: var(--bs-col1) !important;
}
.bluebtn{
    background-color: #1E90FF !important;
}
.chocolatebtn{
    background-color: #D2691E !important;
}
.violetbtn{
    background-color: #9400D3 !important;
}
.orangebtn{
    background-color: #FFA500 !important;
}
.greenbtn{
    background-color: #32CD32 !important;
}
.orangeredbtn{
    background-color: #FF4500 !important;
}
.owl-nav button span{
    font-size: 25px !important;
    border: 2px solid black !important;
    padding: 0px 5px !important;
}